body {
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    background-color: #F7F8FB;
    transition: 0.5s;
    box-shadow: 0 0.5rem rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.logo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    text-transform: uppercase;
    font-size: 20px;
}

.pages {
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}

.nav {
    justify-content: space-between;
}

.list-group-item {
    justify-content: space-between;
}

.main-content {
    position: relative;
    width: 85%;
    left: 15%;
}

.main-content #block {
    height: 100%;
}

.main-content #block #blocks {
    height: 100%;
}

.gjs-pn-panel {
    position: relative;
}

.gjs-cv-canvas {
    width: 100%;
    height: 100%;
    top: 0;
}

/*
* theming
*/

.gjs-one-bg {
    background-color: #fff;
}

.gjs-two-color {
    color: #9ca8bb;
}

.gjs-three-bg {
    background-color: #1e8fe1;
    color: #fff;
}

.gjs-four-color,
.gjs-four-color-h:hover {
    color: #1e8fe1;
}

.gjs-pn-btn {
    border: 1px solid #1e8fe1;
}